/* background image */
.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 5px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

/* background image transform on hover */
.story:hover {
  transform: scale(1.01);
}

/* user avatar */
.story__avatar {
  margin: 10px;
  border: 2px solid #4de739;
}

/* user name */
.story > h4 {
  font-size: small;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
