.main-itemOpt {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}
.body-itemOpt {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.childrenLeft-itemOpt {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.left-itemOpt {
  display: flex;
}
.summary-itemOpt {
  font-weight: bolder;
  color: var(--greenColorHot);
}
.childrenCenter-itemOpt {
  color: var(--greenColorHot);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sub-itemOpt {
  /* display: flex; */
}
